<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
	/*#namestr.ng-valid {
	    background-color: lightblue;
	}*/
	/*If ng-invalid is true for input id = namestr*/
	#namestr.ng-invalid {
    	background-color: lightblue;
	}
</style>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

	<h4>The ng-model Directive</h4>
	Name: <input ng-model="name">

	<h4>Two-Way Binding</h4>
	<p>You entered: {{name}}</p>

	<h4>Validate User Input</h4>
	<form name="myForm">
	    
	    Email: <input type="email" name="myAddress" ng-model="emailText">
	    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
	   
	</form>
	 <p>Two way binding --- > You entered Email: {{emailText}}</p>

	 <h4>Application Status</h4>
	 <form  name="myForm" ng-init="myText = 'post@myweb.com'">
    
	    Email: <input type="email" name="myAddress" ng-model="myText" required>
	    <h1>Status</h1>
	    <p>Valid   : {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
	    <p>Dirty   : {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
	    <p>Touched : {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>
	    <p>Error   : {{myForm.myAddress.$error.email}} (if true, the field invalid according to email type).</p>

	</form>

	<h4>CSS Classes</h4>
	<form ng-app="" name="myForm">
	    Enter your name:
	    <input id="namestr" name="myName" ng-model="myText" required>
	</form>


</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
	    $scope.name = "Sundar Gsv";
	});

	
</script>

<h2><b>Notes</b></h2>
<ul>
	<li>* The ng-model directive binds the value of HTML controls (input, select, textarea) to application data.</li>
	<li>* With the ng-model directive you can bind the value of an input field to a variable created in AngularJS.</li>
	<li>* The binding goes both ways. If the user changes the value inside the input field, the AngularJS property will also change its value</li>

	<li>* In the example above, the span will be displayed only if the expression in the ng-show attribute returns true.</li>

	<li>* The ng-model directive can provide status for application data (invalid, dirty, touched, error)</li>

	<li>* The ng-model directive provides CSS classes for HTML elements, depending on their status</li>

	<li>* The ng-model directive adds/removes the following classes, according to the status of the form field:</li>

		<ul>
			<li>ng-empty</li>
			<li>ng-not-empty</li>
			<li>ng-touched</li>
			<li>ng-untouched</li>
			<li>ng-valid</li>
			<li>ng-invalid</li>
			<li>ng-dirty</li>
			<li>ng-pending</li>
			<li>ng-pristine</li>
		</ul>

</ul>
</body>
</html>
